body {
    padding: 50px 150px 0 150px;
    font-family: 'Fira Sans';
}

.body {
    padding: 20px;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header {
    text-align: center;
}

.introduction {
    margin-top: 50px;
}

.content {
    width: 40%
}

.introduction .content {
    text-align: left;
}

.title-project {
    text-align: center;
}