.link-decoration-none,
.link-decoration-none:hover {
    text-decoration: none;
    color: var(--bs-body-color);

}

.odd-section {
    background-color: #CCCCCC;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.center-align-div {

    align-items: center;
    align-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;

}

.svg-container-line-chart {
    padding-bottom: 55% !important;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

@media (min-width: 280px) {

    .flex-sm-nowrap {
        flex-wrap: nowrap !important;
    }
}

/* Line Chart CSS */

/* AXES */
/* ticks */
.axis line {
    stroke: #706f6f;
    stroke-width: 0.5;
    shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
    stroke: #706f6f;
    stroke-width: 0.7;
    shape-rendering: crispEdges;
}

/* axis text */
.axis text {
    fill: #2b2929;
    font-family: Georgia;
    font-size: 120%;
}

/* LINE CHART */
.line {
    fill: none;
    stroke: #d2d2d2;
    stroke-width: 3;
}

.ghost-line {
    fill: none;
    stroke: #d2d2d2;
    opacity: 0;
    stroke-width: 10;
}

path.line-0 {
    fill: none;
    stroke: #ed3700;
}

path.line-1 {
    fill: none;
    stroke: #2b2929;
    stroke-dasharray: 2;
}

path.line-2 {
    fill: none;
    stroke: #9c9c9c;
    stroke-dasharray: 6;
}

.serie_label {
    fill: #2b2929;
    font-family: Georgia;
    font-size: 80%;
}

/* TOOLTIP */
.tooltip {
    fill: #2b2929;
    font-family: Georgia;
    font-size: 150%;
}

/* POINTS */
.point {
    stroke: none;
    fill: #9c9c9c;
}

/* LABEL*/
.serie_label {
    fill: #d2d2d2;
    font-family: Georgia;
    font-size: 80%;
}