@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
    padding: 50px 150px 0 150px;
    font-family: 'Fira Sans', sans-serif;
}

.body {
    padding: 20px;
    margin: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header {
    text-align: center;
}

.introduction {
    margin-top: 50px;
}

.content {
    width: 40%
}

.introduction .content {
    text-align: left;
}

.title-project {
    text-align: center;
}

.h-t-font {
    font-family: 'Roboto', sans-serif;
}